/* * {
    border: 1px solid red;
} */

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.one,
.two,
.three,
.four {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 50px;
}

.one {
    padding-bottom:100px;
}

.one,
.footer {
    background-color:#1F2937
}

.three {
    background-color:#E5E7EB;   
}

.smol,
.footer {
    font-size: 18px;
    color:#e5e7eb;
}

.logo {
    font-size: 24px;
    color:#F9FAF8;
    padding-bottom:0;
}

.header {
    display:flex;
    justify-content: space-between;
    align-content:center;
    margin-bottom: 100px;
    margin-top: 10px;

}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 18px;

}

a {
    text-decoration: none;
    color:#e5e7eb;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-left {
    width: 700px;
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.hero-title {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.hero-right{
    Display:flex;
    background-color:#E5E7EB;
    height: 200px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.rando {
    display:flex;
    flex-direction: column;
    align-items: center;    
}

.items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 100px;
}

.image {
    height: 200px;
    width: 200px;
    border: solid 5px #3882f6;
    border-radius: 20px;
}

#random-info {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    margin-bottom: 50px;
}

.item-one,
.item-two,
.item-three,
.item-four {
    width: 200px
}

.three {
    display:flex;
    justify-content: center;
}
.quote {
    padding:150px;  
    width: 500px;  
}
.quote-text {
    font-size: 32px;
    font-style: italic;
    text-align: center;
    padding-bottom: 8px;
   
}

.author {
    font-weight:bold;
    text-align:right
}

.box {
    /* border: 1px solid red; */
    display:flex;
    justify-content: space-between;
    background-color: #3882f6;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px;
    border-radius:10px;
    color: white;
}

.box-header {
    font-weight:bolder;
}

.footer {
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 25px;
}