/* * {
    border: 1px solid red;
} */

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.one,
.two,
.three,
.four {
    padding-left: 100px;
    padding-right: 100px;
}

.one,
.footer {
    background-color:#1F2937
}

.three {
    background-color:#E5E7EB;   
}

.smol,
.footer {
    font-size: 18px;
    color:#e5e7eb;
}

.logo {
    font-size: 24px;
    color:#F9FAF8;
    padding-top: 0;
}

.header {
    display:flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 18px;
}

a {
    text-decoration: none;
    color:#e5e7eb;
}

.hero {
    display: flex;
    justify-content: space-between;
    border: 1px red solid;
}

.hero-left {
    border: 1px red solid;
}

.hero-title {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.hero-right{
    Display:flex;
    background-color:#E5E7EB;
    height: 160px;
    width: 200px;  
    border: 1px red solid;
}

button {
    background-color: #3882f6;
    color: white;
}

.quote-text {
    font-size: 32px;
    font-style:italic;   
}

.author {
    font-weight:bold;
}

.footer {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.rando {
    display:flex;
    flex-direction: column;
    align-items: center;    
}

.items {
    display: flex;
    gap: 52px;

}