/* * {
    border: 1px solid red;
} */

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
.top,
.footer {
    background-color:#1F2937
}

.top {
    display:flex;
    flex-direction: column;
}

.smol,
.footer,
ul {
    font-size: 18px;
    color:#e5e7eb;
}

.logo {
    font-size: 24px;
    color:#F9FAF8;
}

.header {
    display:flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
}
.hero-title {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: white;
}

.hero-right{
    background-color:#E5E7EB;   
}
.quote {
    background-color:#E5E7EB;   
}

.quote-text {
    font-size: 32px;
    font-style:italic;   
}

.author {
    font-weight:bold;
}

.footer {
    display:flex;
    flex-direction:column;
    align-items: center;
}